header {
	border: black solid 1px;
	border-radius: 3px;
	height: 75px;
	width: 100%;
	h1 {
		text-align: center;
		display: inline-block;
	}
	.nav_bar {
		.nav_buttons, .login {
			display: inline-block;
			position: relative;
		}

		.nav_buttons {
			border: black solid 1px;
		}

		.login {
			float: right;
			margin:5px 5px 0 0; 
			input {

			}
		}

		a {
			text-decoration: none;
		}

		i {
			font-size: 2.5rem;
		}

	}
}
