header {
	border-radius: 3px;
	background-color: #848484;
	margin: 0 auto;
	height: 70px;

	.app_title {
		width: 30%;
		display: inline-block;
		margin: 0 auto;
		h1 {
			color: white;
		}
	}
	
	.nav_buttons {
		display: inline-block;
	}

	i {
		// font-size: 2.5rem;
		color: white;
		margin-left: 0.4rem;
	}

	i#home_button.fa.fa-home {
		font-size: 2.5rem;
		margin-top: 15px;
	}

	i.fa.fa-car{
		font-size: 2rem;
		// margin-top: -30px;
	}

	.fa.fa-sign-out{
		margin-right: 10px;
		margin-top: 19px;
		font-size: 2.2rem;
		float: right;
	}

	span {
		font-size: 2em;
		color: white;
		margin-left: 5%;
	}
	
}
